<style>
    .right-align {
        text-align: right;
    }
</style>
@{
    ViewData["Title"] = "Privacy Policy / 개인정보 보호정책";
}
<h1>@ViewData["Title"]</h1>
@{
    ViewData["Title2"] = "English Version / 영문 버전";
}
<h6 class="right-align">@ViewData["Title2"]</h6>
@{
    ViewData["Title3"] = "Collection of Personal Information:";
}
<h6>@ViewData["Title3"]</h6>
<p>We may collect personal information from users when they interact with our web application. Personal information includes but is not limited to names, email addresses, and other data provided voluntarily by users.
    While we collect personal information, it is important to note that we will not use this information for purposes other than those explicitly stated at the time of collection. Users can be assured that their personal
    information will not be utilized for marketing, advertising, or any unrelated activities without their explicit consent. In the event that we plan to use personal information for purposes beyond those initially 
    disclosed, we will seek explicit consent from users before proceeding with such usage.
</p>
사용자가 웹 애플리케이션과 상호 작용할 때 개인 정보를 수집할 수 있습니다. 개인 정보에는 이름, 이메일 주소 및 사용자가 자발적으로 제공한 기타 데이터가 포함될 수 있습니다. 개인 정보를 수집하는 동안 해당 정보를 수집 시 명시적으로 명시된 목적 이외의 용도로는
사용하지 않을 것임을 강조합니다. 사용자는 자신의 개인 정보가 명시적인 동의 없이 마케팅, 광고 또는 기타 관련 없는 활동에 사용되지 않을 것이라고 확신할 수 있습니다. 최초 수집 시 공개된 목적 이외의 용도로 개인 정보를 사용할 계획이 있는 경우 해당 사용 용도에 
대한 명시적인 사용자 동의를 얻기 위해 진행하기 전에 사용자에게 동의를 요청할 것입니다.
</>
<p>We want to assure our users that their privacy is of utmost importance to us. As such, we want to make it clear that no third parties will have access to or use your personal information collected through our web application.</p>